.navbar img{
    width: 3rem;
    height: auto;
}

.inicio{
    background-image: url(https://www.teahub.io/photos/full/139-1393655_computadoras-para-fondo-de-pantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;

    color: antiquewhite;
}

.inicio img{
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

.acerca{
    background-image: url(https://ximhai.com/img/programando.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    color: blanchedalmond;
}

.acerca img{
    width: 15rem;
    height: auto;
    border-top: 50%;
}

.escolar{
    background-image: url(https://i.blogs.es/fd396a/hook/1366_2000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    color: blanchedalmond;
}

.Contacto{
    background-color:darkgreen;
    color: antiquewhite;
}
a {
    color:darkblue;
  }
a:hover {
    color:yellowgreen;
  }
